git+https://github.com/pulp/pulp-smash.git#egg=pulp-smash
pytest<8
lxml
# test_attestation_twine_upload and test_twine_upload use shelf-reader 0.1 with Metadata-Version 2.0, rejected by twine>=7
twine<7
pypi-simple
pytest-xdist
pytest-timeout
